/* reset de pagina */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* definições padrão*/
body, .footer {
    font-family: 'Roboto';
    font-size: 19px;
    color: rgb(32, 32, 32);
}

.footer {
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav-item, .nav-link, .navbar-brand, .footer {
    list-style: none; /* remove bolinhas da lista */
    text-decoration: none; /* remove o sublinhado dos links */
    color: rgb(32, 32, 32);
}

a:hover {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.card-deck {
    display: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

.formacao, .experiencias, .leonara {
    padding-bottom: 30px;
    padding-top: 30px;
}